@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --primary-color: #0967d2;
    --border-grey: #e4e7eb;
}

:focus-visible {
    outline: var(--primary-color) auto 1px;
}

/*** Font ***/
body {
    font-family: "sofia-pro", ui-sans-serif, system-ui, "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
        "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

/**** Sidebar ****/
.sidebar {
    transition-property: all;
    max-width: 250px;
    flex: 1 1 auto;
    @apply bg-white-lightgrey;
}

.sidebar-heading {
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.sidebar-closed {
    flex: 74px 0 0;
    max-width: 74px;
    @apply bg-white-lightgrey;
}

.active {
    @apply bg-active-grey text-primary-blue font-semibold border-primary-blue;
}

.sidebar-content-overlay {
    position: absolute;
    width: 100vw;
    height: calc(100vh - 64px);
    background-color: black;
    opacity: 50%;
    pointer-events: revert;
}

/* Tooltips */
.tooltip:hover::after {
    content: attr(data-tooltip);
    transform: translate(84px, -5px);
    @apply fixed bg-active-grey text-darkgrey text-center text-sm font-semibold rounded-lg translate-x-12 z-50 left-0 py-2 px-5;
}

/*** Search ***/
input[type="search"] {
    outline: var(--border-grey) solid 1px;
}

input:focus-visible {
    outline: var(--primary-color) auto 1px;
}

input::placeholder {
    font-size: 15px;
}

input::-webkit-search-cancel-button {
    position: relative;
    right: 1rem;
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='SvgjsSvg1001' width='288' height='288' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs'%3E%3Cdefs id='SvgjsDefs1002'%3E%3C/defs%3E%3Cg id='SvgjsG1008' transform='matrix(1,0,0,1,0,0)'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' class='svg-inline--fa fa-times fa-w-11' data-icon='times' data-prefix='fas' viewBox='0 0 352 512' width='288' height='288'%3E%3Cpath fill='%230967d2' d='M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z' class='colorcurrentColor svgShape'%3E%3C/path%3E%3C/svg%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
}

/*** Table ***/
.gradient-icon {
    -webkit-mask-image: linear-gradient(270deg, transparent 0.5px, red 7px);
}

.bg-table-empty {
    background-position: right -150px center;
    background-image: url(img/chair.svg);
}
