@tailwind base;
@tailwind components;
@tailwind utilities;

/*** Font ***/

body {
    font-family: "sofia-pro", ui-sans-serif, system-ui, "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


/**** Sidebar ****/

.sidebar {
    transition-property: all;
    max-width: 250px;
    flex: 1 1 auto;
    @apply bg-white-lightgrey;
}

.sidebar-heading {
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.sidebar-closed {
    flex: 74px 0 0;
    max-width: 74px;
    @apply bg-white-lightgrey;
}

.active {
    @apply bg-active-grey text-primary-blue font-semibold border-primary-blue;
}


/*** Search ***/

input::placeholder {
    font-size: 15px;
}